// COLOUR VARIABLES
$white: #fff;
$dark: #373f53;
$green: #1bc641;
$yellow: #f7931a;
$primary: #6800ec;
$primary-dark: #1a006b;
$secondary: #700c8e;
$very-dark: #0c1529;
$pale-dark: #555a68;
$pale-purple: #faf6ff;

// SIZE VALUES
$nav-height: 5rem;

// BREAKPOINTS
$deskop: 1920px;
$laptop-large: 1440px;
$laptop: 1200px;
$tablet-large: 1024px;
$tablet: 768px;
$mobile-large: 500px;
$mobile: 414px;
